/*  import fonts de texto */
/* principal */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap");
/* titulo */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,400;1,700&display=swap");
/* paragrafo */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* BODY */
body {
  color: #000;
  background: rgb(245, 245, 245);
}
header {
  height: 65px;
  background: rgb(245, 245, 245);
}
#containerHeader {
  max-width: 1366px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* logo */
.logo h3 {
  margin: 20px 20px;
  font-size: 1.5vw;
  font-family: "Courier";
  color: rgba(20, 45, 85);
}
.nav-header {
  max-width: 100%;
}
.nav-header nav {
  margin: 10px 15px;
  display: flex;
}

.ul-nav {
  display: flex;
  margin: 0 180px;
}
.list-nav {
  margin: 10px 20px;
}
.list-nav a {
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Raleway";
  color: rgba(20, 45, 85, 0.4);
  position: relative;
}
.list-nav a:hover {
  color: rgba(20, 45, 85);
}
.list-nav a,
.list-nav a::before,
.list-nav a::after {
  transition: 0.5s;
}
.list-nav a::before,
.list-nav a::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
}
.list-nav a::before {
  opacity: 0;
  background-color: rgba(20, 45, 85, 0.3);
}
.list-nav a::after {
  transform: scaleX(0);
  transform-origin: 0% 50%;
  background-color: rgba(20, 45, 85, 0.6);
}
.list-nav a:hover::before {
  opacity: 1;
}
.list-nav a:hover::after {
  transform: scaleX(1);
}

.button-nav {
  background-color: rgba(20, 45, 85);
  padding: 10px 20px;
  border-radius: 10px;
  /* margin: 3px; */
  position: absolute;
  right: 10px;
}
.button-nav a {
  font-size: 1.6vw;
  font-family: "Raleway";
  color: #fafafa;
}

/* main */
.page-principal {
  max-width: 1366px;
  width: 100%;
}
.container-principal {
  display: flex;
}
.text-principal {
  padding: 120px 0;
  width: 50%;
  margin: 50px;
}
.titulo-principal {
  color: rgba(67, 67, 67, 1);
  font-size: 4vw;
  font-family: "Roboto Slab", serif;
}
.titulo-principal span {
  color: rgba(20, 45, 85);
}
.subTitulo-principal {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 1.5vw;
  font-family: "Poppins";
}

.button-main {
  margin: 90px 0;
  display: flex;
}
.btn-principal {
  padding: 20px 55px 20px 15px;
  background-color: rgba(20, 45, 85);
  border-radius: 10px;
  border-radius: 100px;
}
.btn-principal a {
  font-size: 1.7vw;
  font-family: "Raleway";
  color: #fafafa;
}
.icon-btn-principal {
  position: relative;
}
.icon-btn-principal i {
  position: absolute;
  left: 10px;
  top: -15px;
  color: #fafafa;
  font-size: 2.5vw;
}

.btn-principal:hover {
  transition: transform 1.5s;
  transform: scale(1.1);
}

.image-main {
  margin: 0 -50px;
  position: relative;
  right: 10px;
  top: 80px;
  transform: rotate(-20deg);
}
.image-main img {
  position: absolute;
  animation: image 5s infinite linear;
  width: 550px;
}
@keyframes image {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
}
